@font-face {
    font-family: "Roboto Serif";
    src: url('../fonts/roboto-serif_5.2.8/webfonts/roboto-serif-latin-400-normal.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Hanken Grotesk";
    src: url('../fonts/hanken-grotesk/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #edebd7;
    margin:0px;
}

a {
    color: black;
}


header {
    background-color: #5b8e7d;
    height:4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    gap: 1.5rem;
    top:0;
    position:sticky;
}

header > div{
    font-family: "Roboto Serif";
}

footer {
    background-color: #5b8e7d;
}

li {
    font-family: "Roboto Serif";
    font-size: 1rem;
}

.logo {
    width:3rem;
}

.links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: start;
    align-items: center;
    gap: 1.5rem;
}

.body{
    max-width: 50rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: start;
    gap: 2rem;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
}

body > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body h1{
    font-family: "Hanken Grotesk";
    font-size: 3rem;
    padding: 0 1rem;
    margin-block: 0px;
}

.body img{
    width: 100%;
}

.body h2{
    padding: 0 1rem;
    margin-block: 0px;
    font-family: "Hanken Grotesk";
    font-size: 2.25rem;
    margin-top: 2rem;
}

.body p{
    padding: 0 1rem;
    margin-block: 0px;
    font-family: "Roboto Serif";
}

.body section{
    padding: 0 1rem;
    margin-block: 0px;
    font-family: "Roboto Serif";
}

.body a{
    font-family: "Hanken Grotesk";
    align-self: center;
    background-color: #edebd7;
    border-style: solid;
    border-width: 3px;
    color: #bc4b51;
    border-color:#bc4b51;
    text-decoration: none;
    border-radius: 10px 10px 10px 10px;
    padding: 0.25rem 1.5rem;
    margin: 0;
}

footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    font-family: "Roboto Serif";
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.site {
    display: flex;
    flex-direction: column;
    align-self: start;
    
}

.jsp{
    display: flex;
    flex-direction: row;
    gap: 8rem;
    font-size: 0.75rem;
}

@media (max-width: 800px) {
    .jsp {
        gap: 1rem;
    }
}

.logo_footer {
    align-self: center;
    width: 4.938rem;
    padding: 3rem 0;
}

.h {
    font-size: 0.75rem;
    font-weight: 700;
}